<a href="https://colab.research.google.com/github/adisusilayasa/DigitalSkola/blob/main/DS6_Homework_for_Introduction_to_Basic_DataFrame.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

<h2>Soal 1: Membuat DataFrame</h2>

- Buatlah dataframe dari objek dictionary!

In [4]:
# Membuat dataframes dari dictionary
import pandas as pd
details = {
    'Name' : ['Adi', 'Dimas', 'Yulia', 'Marta', 'Fahira'],
    'Age' : [22, 21, 22, 21,20],
    'University' : ['UU', 'UNY', 'UMM', 'UNS', 'UNM'],
}
  
df = pd.DataFrame(details)
  
df

     Name  Age University
0     Adi   22         UU
1   Dimas   21        UNY
2   Yulia   22        UMM
3   Marta   21        UNS
4  Fahira   20        UNM

<h2>Soal 2: Membaca data dari file</h2>

Download file bernama [diamonds.csv](https://drive.google.com/uc?export=download&id=1qQiM9utQUThTPq8jk8stPMh_y2zfqYOd), kemudian baca data tersebut dan assign ke dalam suatu variabel kemudian tampilkan DataFrame-nya.

In [6]:
# Membaca data dan memasukannya ke dalam suatu variabel
import pandas as pd

df = pd.read_csv(r"/content/diamonds.csv")
df

       Unnamed: 0  carat        cut color  ... price     x     y     z
0               1   0.23      Ideal     E  ...   326  3.95  3.98  2.43
1               2   0.21    Premium     E  ...   326  3.89  3.84  2.31
2               3   0.23       Good     E  ...   327  4.05  4.07  2.31
3               4   0.29    Premium     I  ...   334  4.20  4.23  2.63
4               5   0.31       Good     J  ...   335  4.34  4.35  2.75
...           ...    ...        ...   ...  ...   ...   ...   ...   ...
53935       53936   0.72      Ideal     D  ...  2757  5.75  5.76  3.50
53936       53937   0.72       Good     D  ...  2757  5.69  5.75  3.61
53937       53938   0.70  Very Good     D  ...  2757  5.66  5.68  3.56
53938       53939   0.86    Premium     H  ...  2757  6.15  6.12  3.74
53939       53940   0.75      Ideal     D  ...  2757  5.83  5.87  3.64

[53940 rows x 11 columns]

Expected Result:

![alt text](https://drive.google.com/uc?id=1BvgM5mJEVfj0fllrjkBfQwn0QIFkry_t)

<h2>Soal 3: Pemeriksaan Data Sederhana</h2>

Di soal no 2 kamu telah membaca data tentang diamonds. pada soal ini cobalah suatu metode dari pandas untuk mengetahui beberapa data pertama dan beberapa data terakhir. kemudian sebutkan nilai dari:
- 10 baris pertama dari column price
- 10 baris terakhir dari column color

tunjukan cara kalian menemukan nilai tersebut di block di bawah ini.

In [7]:
import pandas as pd

df = pd.read_csv(r"/content/diamonds.csv")

In [10]:
df['price'].head(10)

0    326
1    326
2    327
3    334
4    335
5    336
6    336
7    337
8    337
9    338
Name: price, dtype: int64

In [11]:
df['color'].tail(10)

53930    E
53931    F
53932    E
53933    E
53934    D
53935    D
53936    D
53937    D
53938    H
53939    D
Name: color, dtype: object

<h2>Soal 4: Practice Deskriptif Statistik</h2>

- Gunakan suatu metode dari pandas untuk mengetahui deskriptif statistik dari suatu data
- Berapa nilai rata-rata dari column price
- Berapa nilai standar deviasi dari column depth
- Berapa nilai maximum dari column carat

In [13]:
# Gunakan suatu metode dari pandas untuk mengetahui deskriptif statistik dari suatu data

print("Nilai rata-rata kolom price {}".format(df['price'].mean()))
print("Nilai standar deviasi kolom depth {}".format(df['depth'].std()))
print("Nilai maximum kolom carat {}".format(df['carat'].max()))

Nilai rata-rata kolom price 3932.799721913237
Nilai standar deviasi kolom depth 1.4326213188337733
Nilai maximum kolom carat 5.01

Jawab: 

Berapa nilai rata-rata dari column price?
Berapa nilai standar deviasi dari column depth?
Berapa nilai maximum dari column carat?